@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }
}

:root{
  --text: white;
  --textSoft: #b7bac1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--text);
  background-color: #0C2D52;
}

a{
  color: inherit;
  text-decoration: none;
}

.scrollable-box {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.scrollable-box p {
  display: inline-block;
  margin-right: 4;
}